body {
    font-family: 'Montserrat-Black', sans-serif;
}


/************************ Title Section ************************/


/**** Tag Selector ****/

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}


/**** Class Selector *****/


/* Navigation Bar */

.navbar {
    padding: 0 0 3.5rem;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


/* Images */

.iphone6 {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.positioning {
    position: relative;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/**** ID Selector ****/

#title {
    background-color: #ff4c68;
    color: #fff;
}

#container-fluid {
    padding: 3% 15%;
}


/***** Media Query ****/

@media (max-width: 1050px) {
    #title {
        text-align: center;
    }
    .iphone6 {
        position: static;
        transform: rotate(0);
    }
}


/************************* End Of Title Section *************************/


/************************ Features Section ************************/


/**** Tag Selector ****/


/**** Class Selector *****/

.row-features {
    margin: 15%;
}

.f-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.f-para {
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f;
}


/* Font Aweosome */

.fas-icon {
    color: #ef8172;
    padding: 5%;
}


/* Hover */

.fas-icon:hover {
    color: #ff4c68;
}


/**** ID Selector ****/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}


/************************* End Of Features Section *************************/


/************************ Testimonial Section ************************/


/**** Tag Selector ****/


/**** Class Selector *****/

.t-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 1.5;
}

.tes-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}


/**** ID Selector ****/

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}


/********************** End Of Testimonial Section **********************/


/************************ Pricing Section ************************/


/**** Tag Selector ****/


/**** Class Selector *****/

.p-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 1.5;
}

.p-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.p-row {
    text-align: center;
}

.p-col {
    padding: 3% 2%;
}


/**** ID Selector ****/

#pricing {
    padding: 100px;
    text-align: center;
}


/********************** End Of Pricing Section **********************/


/************************ Call to Action Section ************************/


/**** Tag Selector ****/


/**** Class Selector *****/

.cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}


/**** ID Selector ****/

#cta {
    background-color: #ff4c68;
    padding: 5% 15%;
    text-align: center;
    color: #fff;
}


/********************** End Of Call to Action Section **********************/


/************************ Footer Section ************************/


/**** Tag Selector ****/


/**** Class Selector *****/

.foot-icon {
    padding: 10px;
}

.foot-icon:hover {
    color: #ff4c68;
}


/**** ID Selector ****/

#footer {
    text-align: center;
    padding: 5% 0 3% 0;
    background-color: #fff;
    line-height: 2.5;
}


/********************** Footer Section **********************/